In [11]:
from functions import DataBaseV2
import pandas as pd
import sys
import os
import sqlite3
import inspect
path = os.getcwd()
path_up = os.path.dirname(path)
sys.path.insert(0, path_up)

from stratégie_nettoyage_donnees import nettoyage_df


print(path_up)

/home/geoffroy/Projets/Rendus_Ecole_Simplon/PCO/E1/code

In [20]:
con = sqlite3.connect("db.db")
cursor = con.cursor()


# cursor.execute(query)

In [19]:
data_path = os.path.join(path_up, "data/survey.csv")

df = pd.read_csv(data_path)
df = nettoyage_df(df)
df.to_sql('Questionnaires', con=con, if_exists='fail', index=False)
# print("Les données ont été ajoutées en base.")

/home/geoffroy/Projets/Rendus_Ecole_Simplon/PCO/E1/code/stratégie_nettoyage_donnees.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["self_employed"].fillna("Other", inplace=True)
/home/geoffroy/Projets/Rendus_Ecole_Simplon/PCO/E1/code/stratégie_nettoyage_donnees.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["work_interfere"].fillna("Not concerned", inplace=True)

ValueError: Table 'Questionnaires' already exists.